.headerContainer {
  width: 100%;
  margin:auto;
  height: 3.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position:relative;
}

.title {
  position:absolute;
  top:0;
  right:25em;
  bottom:0;
  left:25em;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgba(0,0,0,.3);
  cursor:default;
  user-select: none;
  pointer-events: none;
}

.logo {
  cursor:pointer;
  font-size: 24px;
  font-weight: bold;
  color: #43AFDE;
  margin-bottom:.2em;
  user-select: none;
}

.menulogo {
  display:flex;
  align-items: center;
}

.menu {
  width:1.5em;
  height:1.5em;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.8em;
  margin-right: 1.2em;
  cursor:pointer;
}

.right{
  display: flex;
  align-items: center;
  height: 100%;
}

.menu div {
  width:100%;
  height:2px;
  background-color: #333;
}

@media (max-width:991px) {
  .menu {
    display: flex;
  }
}

@media (max-width:575px) {
  .logo.collapse {
      width: 3.3em;
      background-size: cover;
      background-position-x: left;
  }
  .Avatar .name {
    display:none;
  }
}

.header {
  border: 1px solid #E5E5E5;
  padding: 0 1.2em;
}

