.card {
    padding: .7rem .7rem .8rem 1rem;
    border-radius: .4rem;
    display: flex;
    margin-bottom:.5rem;
    color: rgba(0,0,0,.4);
    align-items: center;
    border:1px solid transparent;
    cursor:default;
}

.left {
    margin-right: 1rem;
    flex: 0 1 auto;
}

.content {
    flex: 1 1 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.right {
    flex: 0 1 auto;
    display:flex;
    align-items: center;
    height:100%;
}

.ok {
    background-color: #43AFDE;
    color: #FFF;
}

.paid {
    background-color: #6AE8AC;
    color: #FFF;
}

.nok {
    background-color: #BBB;
    color: #FFF;
}

.cancelled {
    background-color: #DADADA;
    color: #FFF;
    text-decoration: line-through;
}

.availability, .exclusion {
    background-color: #FFF;
    border:1px solid rgba(0,0,0,.12);
    padding: .3rem 1rem .4rem 1rem;
}

.availability .left, .exclusion .left {
    color: rgba(0,0,0,.5);
}

.availability {
    color: rgba(0,0,0,.3);
}

.exclusion {
    background: repeating-linear-gradient(
    45deg,
    #FFF,
    #FFF 5px,
    #F8F8F8 5px,
    #F8F8F8 8px
    );
}